body {
  background: #bdc3c7;
}
h1 {
  color: #9b59b6;
}
h2 {
  color: orange;
}
li {
  color: blue;
}
p {
  background-color: yellow;
}
input {
  border: 3px solid red;
}
.hello {
  background: white;
}
#special {
  border: 2px solid blue;
}
div > p {
  font-size: 25px;
}
input > .text {
  background: gray;
}
div:nth-child(3) > p {
  background: yellow;
}
div:nth-child(3) > p:nth-child(2) {
  border: 5px white;
}
div:nth-child(3) > em {
  color: white;
  font-size: 20px;
}
